@import "variables";
@import "fonts";


/* You can add global styles to this file, and also import other style files */
body {
    font-family: "Avenir Next Cyr";
    line-height: 1.2;
    font-weight: 500 !important;
    font-size: 14px;
    color: #3d3d3d;
    overflow-x: hidden;
    margin: 0px;
  }
  
  * {
    box-sizing: border-box;
  }
  

  /* INPUT FIX */ 

  input {
    display: block;
    width: 100%;
    border:0;
    outline:0;
    &::-ms-reveal,
    &::-ms-clear {
      display: none;
    }
    &:focus {
      outline:none !important;
    }
    &:-webkit-autofill,
    &:-webkit-autofill:hover, 
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      transition: background-color 50000s ease-in-out 0s;
      box-shadow: inset 0 0 20px 20px #0000;
    }
    &[type="radio"] {
      display: inline-block;
      width: auto;
    }
  }
  
  *:focus {
    outline: none;
  }
  
  .form-control {
    position: relative !important;
    padding: 6px 12px !important;
    height: 38px !important;
    line-height: 1.2 !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    color: $c_black !important;
    background-color: $c_white !important;
    border: 1px solid rgba($c_primary, .8) !important;
    border-radius: 6px !important;
    &:disabled {
      opacity: .5;
    }
    &.max-count-input {
      max-width: 240px;
    }
  }
  

/* LOGIN-PAGE */ 

.login_page {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    width: 100vw;
    min-height: 100vh;
    font-size: 16px;
    background: radial-gradient(at center, #4AC1E4 20%, #004B87);
    background-color: #4AC1E4;
    background-position: center;
    background-repeat: no-repeat;
    background-position: center;
    animation: radial-back 15s infinite;
    &-lang {
      position: absolute;
      top: 40px;
      right: 40px;
      z-index: 1;
    }
    &-title {
      margin-bottom: -10px;
      text-align: center;
      font-weight: 500;
      font-size: 18px;
      color: $c_white;
    }
    &-wrap {
      display: grid;
      grid-gap: 40px;
      padding: 60px 40px;
      max-width: 420px;
      width: 100%;
      border: 3px solid rgba($c_white, .6);
      background: rgba($c_white, .2);
      backdrop-filter: blur(12px);
      border-radius: 24px;
      animation: fader 1s;
    }
    &-logo {
    //   margin: 0 auto;
    //   max-width: 240px;
      width: 100%;
    //   img {
    //     width: 100%;
    //   }
    }
    &-logotext {
        text-align: center;
        font-size: 40px;
        margin: 0px;
        font-weight: bold;
        color: #ffffff;
  
      }
    &-form {
      display: grid;
      grid-gap: 20px;
    }
    &-placeholder {
      margin-bottom: 6px;
      font-size: 14px;
      color: $c_white;
      letter-spacing: .5px;
    }
    &-input {
      position: relative;
      display: block;
      padding: 12px 16px;
      width: 100%;
      background-color: $c_white;
      border-radius: 6px;
      border: 1px solid rgba($c_black, .2);
      box-shadow: 0px 1px 1px 1px rgba($c_black, .1);
      transition: .3s;
      input {
        color: $c_black;
      }
      &:has(.pass_show) {
        padding-right: 48px;
      }
      .pass_show {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        @media screen and (min-width: 992px) {
          &:hover {
            cursor: pointer;
          }
        }
      }
      &:has(.is-invalid) {
        border-color: $c_red;
        box-shadow: 0px 1px 6px 1px rgba($c_red, .5);
      }
    }
    &-label {
      margin: 0;
    }
    &-recover {
      display: inline-flex;
      align-items: center;
      gap: 8px;
      margin-top: -10px;
      font-size: 13px;
      letter-spacing: .3px;
      color: $c_white;
      transition: .3s;
      b {
        transition: .3s;
      }
      &:not(:has(b)) {
        @media screen and (min-width: 992px) {
          &:hover {
            cursor: pointer;
            color: $c_primary;
            .ic {
              background-color: $c_primary;
            }
          }
        }
      }
      @media screen and (min-width: 992px) {
        b:hover {
          cursor: pointer;
          color: $c_primary;
        }
      }
    }
    &-error {
      display: inline-block;
      margin-top: 6px;
      font-size: 13px;
      letter-spacing: .3px;
      color: $c_red;
    }
    &-img {
      display: block;
      margin: 10px 0;
    }
    &-submit {
      margin-top: 20px;
      width: 100%;
      .btn-new {
        width: 100%;
        box-shadow: 0px 1px 1px 1px rgba($c_black, .1);
      }
    }
    &-sub {
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: 12px;
      row-gap: 6px;
      flex-wrap: wrap-reverse;
      margin-top: -10px;
      .login_page-recover {
        margin: 0;
      }
    }
    &-copyright {
      margin-top: 20px;
      text-align: center;
      color: $c_white;
      font-size: 14px;
      letter-spacing: .5px;
      b {
        font-style: italic;
        font-weight: 600;
      }
      a {
        color: $c_white;
        @media screen and (min-width: 992px) {
          &:hover {
            cursor: pointer;
            color: $c_primary;
          }
        }
      }
    }
  }
  
  @keyframes radial-back {
    from {
      background-size: 100% 100%;
    }
    25% {
      background-size: 180% 180%;
    }
    50% {
      background-size: 140% 140%;
    }
    75% {
      background-size: 180% 180%;
    }
    to {
      background-size: 100% 100%;
    }
  }
  
  @media screen and (max-width: 991px) {
    .login_page {
      padding: 60px 20px 20px;
    }
  
    .login_page-wrap {
      grid-gap: 20px;
      padding: 20px;
    }
  
    .login_page-lang {
      top: 20px;
      right: 20px;
    }
  }


  /* LANG-TOGGLE */

.lang_toggle {
    width: 160px;
  
    .ic_dropdown_arrow {
      margin-left: auto;
    }
  
    &-main {
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 6px 12px;
      font-size: 16px;
      color: $c_primary;
      background-color: $c_white;
      border-radius: 8px;
    }
  
    &-dropdown {
      left: unset !important;
      right: 0 !important;
      margin-top: 6px !important; 
      padding: 6px 0;
      background-color: $c_white;
      border: unset !important;
      border-radius: 8px;
      box-shadow: 0px 2px 10px 0px rgba($c_black, 0.15);
      a {
        position: relative;
        display: block;
        padding: 6px 12px 6px 40px;
        color: $c_black !important;
        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: 14px;
          transform: translateY(-50%);
          width: 16px;
          height: 16px;
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
        }
  
        // &.lang-en {
        //   &::before {
        //     background-image: url(../assets/icons/ic/ic_c_uk.svg);
        //   }
        // }
  
        // &.lang-fr {
        //   &::before {
        //     background-image: url(../assets/icons/ic/ic_c_france.svg);
        //   }
        // }
  
        @media screen and (min-width: 992px) {
          &:hover {
            background-color: rgba($c_primary_light, .5);
          }
        }
      }
    }
  
    &.show {
      .ic_dropdown_arrow {
        transform: rotate(-180deg);
      }
  
      .lang_toggle-dropdown {
        animation: lang-slide .5s;
      }
    }
  
    @keyframes lang-slide {
      0% {
        opacity: 0;
        transform: translateY(10px);
      }
  
      100% {
        opacity: 1;
      }
    }
  }
  
  @keyframes fader {
    0% {
      transform: translateY(20px);
      opacity: 0;
    }
  
    30% {
      transform: translateY(20px);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0);
      opacity: 1px;
    }
  }
  
  /* BUTTONS */ 

.btn-new {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 12px 24px;
    text-align: center;
    line-height: 1.2;
    font-weight: 500;
    font-size: 16px;
    color: $c_white;
    background-color: $c_primary;
    border: 2px solid $c_primary;
    border-radius: 8px;
    transition: .3s;
    cursor: pointer;
    &.disabled {
      pointer-events: none;
    }
    @media screen and (max-width: 991px) {
      &:hover {
        text-decoration: none;
      }
    }
    @media screen and (min-width: 992px) {
      &:hover {
        gap: 12px;
        cursor: pointer;
      }
    }
    &:disabled {
      pointer-events: none;
      opacity: .8;
    }
  }
  
  .btn-loader {
    display: flex;
    align-items: center;
    gap: 4px;
    span {
      display: block;
      width: 9px;
      height: 9px;
      background-color: $c_white;
      border-radius: 50%;
      animation: btn-loader-anim 1s infinite;
      &:nth-child(1) {
        animation-delay: .33s;
      }
      &:nth-child(2) {
        animation-delay: .66s;
      }
    }
  }
  
  @keyframes btn-loader-anim {
    0% {
      transform: translateY(0);
      opacity: .8;
    }
    50% {
      transform: translateY(-3px);
    }
    100% {
      transform: translateY(0);
    }
  }

  /*OPEN SIDE BAR FOR SIDEBAR*/

.sidebar.openSideBar {
  width: 250px !important;
  span,
  p {
    display: inline-block !important;
  }
  .toggle-button,
  .nav_sidebar-logout {
    overflow: hidden;
  }
  .logo-min {
    display: none !important;
  }
  .logo-big {
    display: block !important;
  }
  .nav_sidebar-logo {
    width: auto !important;
  }
  .list-group-item {
    justify-content: flex-start !important;
  }
  .nested-menu > li.expand > ul.submenu {
    padding-left: 2rem !important;
    display: block !important;
  }
  @media screen and (max-width: 991px) {
    position: fixed !important;
    z-index: 1100 !important;
  }
}
.sidebar.closeSideBarLargeScreen {
  .nav_sidebar-logo {
    margin-right: 13px !important;
  }
}

@media screen and (max-width: 992px) {
  .push-right {
    .sidebar {
      left: 235px !important;
    }
  }
}

/* MAIN-LAYOUT */

.main-layout {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  .main-container {
    padding: 20px;
    background-color: #e0ebf3;
    overflow: auto;
    &-wrap {
      padding: 20px;
      background-color: $c_white;
      border-radius: 12px;
    }
  }
}